<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>MadLibs</h1>
    <h2>Fill out the following parts of speech:</h2>
    <form action="/madlibs" method="post">

    <label for="noun1">Noun:</label>
    <input id="noun1" name="noun1" type="text">
    <label for="noun2">Another Noun: </label>
    <input id="noun2" name="noun2" type="text">
    <label for="acronym1">An acronym: </label>
    <input id="acronym1" name="acronym1" type="text">
    <label for="food1">Food: </label>
    <input id="food1" name="food1" type="text">
    <label for="food2">Another Food: </label>
    <input id="food2" name="food2" type="text">

    <label for="verb1">Verb:</label>
    <input id="verb1" name="verb1" type="text">

    <label for="timeofday1">A time of day: </label>
    <input id="timeofday1" name="timeofday1" type="text">
    <label for="country1">Country: </label>
    <input id="country1" name="country1" type="text">



    <button type="submit">Go!</button>
    </form>
  </body>
</html>