<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>MadLibs</h1>
    <h2>Fill out the following parts of speech:</h2>
    <form action="/birthdayparty" method="post">
    <label for="event1">Type of Event:</label>
    <input id="event1" name="event1" type="text">
    <label for="number1">Number: </label>
    <input id="number1" name="number1" type="text">
    <label for="name1">A Name: </label>
    <input id="name1" name="name1" type="text">
    <label for="name2">Another Name: </label>
    <input id="name2" name="name2" type="text">
    <label for="favoritetype">Type of something: </label>
    <input id="favoritetype" name="favoritetype" type="text">
    <label for="favoritething">A noun: </label>
    <input id="favoritething" name="favoritething" type="text">
    <label for="relation1">Relationship:</label>
    <input id="relation1" name="relation1" type="text">
    <button type="submit">Go!</button>
    </form>
  </body>
</html>